body{
    background-color: aqua;
}

h1{
    text-align: center;
    color: pink;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: seagreen;
    padding: 1em;
    gap: 1em;
    border-style: dotted;
}

.grid-container{
    display: grid;
    background-color: slateblue;
    padding: 1em;
    gap: 1em;
    border-style: double;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        background-color: rgb(8, 197, 255);
    }
    .container{
        flex-direction: column;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        background-color: rgb(252, 148, 13);
    }
    .container{
        flex-direction: column;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        background-color: blue;
    }
    .container{
        flex-direction: column;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        background-color: green;
    }
    .container{
        flex-direction: row;
    }
    
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        background-color: red;
    }
    .container{
        flex-direction: row;
    }
    
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}